- if @user.profile
  .row
    .col-sm-2
      = image_tag @user.profile.avatar.url(:thumb) unless @user.profile.avatar.file.nil?
h3
  = @user.name
p
  ' E-mail:
  = @user.email
p
  ' Телефон:
  = @user.phone
p
  ' Компания:
  = @user.company
p
  ' Цель:
  = @user.purpose

- if current_user.id == @user.id
  - if @user.profile
    p= link_to edit_profile_path(current_user) do
      | Редактировать профиль
  - else
    p= link_to new_profile_path do
      | Заполнить профиль
  p= link_to 'Исправить неверные данные регистрации', edit_user_registration_path(@user)

- unless current_user.partner || current_user.id == @user.id || !@user.partner
  - if current_user.invitations.exists?(invitee_id: @user.id)
    p Исполнитель приглашен
  - else
    = link_to 'Пригласить в конкурс', invite_path(@user), class: 'btn btn-info'