tr
  td
    = (size - tender_counter) unless (params[:order_users] || params[:order_htitle])
  td= tender.user.company
  td= tender.user.email
  td= tender.exhibition
  td.td-int= tender.area
  td.td-int
    = number_with_precision tender.budget, precision: 2 if tender.budget?
    |  ₽
  td= link_to icon('fa-eye', 'посмотреть'), admin_tender_path(tender)
  td
    - if tender.public?
      ' Да
    - else
      = link_to icon('fa-toggle-off i-public-off', 'опубликовать'), public_on_admin_tender_path(tender), method: 'put'
  td= link_to icon('fa-edit', 'редактировать'), edit_admin_tender_path(tender)
  td= link_to icon('fa-trash', 'удалить'), admin_tender_path(tender), method: :delete, data: {confirm: 'Удалить безвозвратно?'}
