<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, autocomplete: "off", hint: "оставьте это поле пустым, если Вы не хотите его менять", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "нам нужен ваш текущий пароль для подтверждения изменений", required: true %>
    <%= f.input :phone, required: true, hint: 'По этому номеру сотрудник call-центра подтвердит регистрацию' %>
    <%= f.input :name, required: true %>
    <%= f.input :company, required: true, hint: 'Введите название вашей компании' %>
    <%= f.input :purpose, required: true %>
    <%= f.input :partner %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  </div>
  <br/>
  <%= f.input :agreement %>
  <p>
    Нажимая кнопку "Регистрация" вы соглашаетесь с
    <%= link_to 'Условиями использования сайта', kso_index_path, target: '_blank' %> и
    <%= link_to 'Условиями использования персональных данных', kso_index_path, target: '_blank' %>
  </p>
  <div class="form-actions">
    <%= f.button :submit, "Обновить" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Назад", :back %>
