nav.navbar.navbar-expand-lg.navbar-light.bg-light role='navigation'
  .navbar-header
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'favicon.ico'
      span.logo

  .navbar-collapse.collapse
    - if admin_signed_in?
      ul.navbar-nav.mr-auto
        li.nav-item.dropdown role='presentation'
          = link_to '#', class: 'dropdown-toggle nav-link', id: 'navbarDropdown' ,'data-toggle': 'dropdown' do
            | Справочники
            span.caret
          .dropdown-menu aria-labelledby="navbarDropdown"
            = link_to 'example', '#', class: 'dropdown-item'
        li.nav-item
          = link_to 'Клиенты/Партнеры', admin_users_path, class: 'nav-link'
        li.nav-item
          = link_to 'Тендеры', admin_tenders_path, class: 'nav-link'



  = render partial: 'layouts/shared/admin_bar'
