doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    - @contact = @user.partner ? 'Партнер' : 'Клиент'
    h1
      | Зарегистрирован новый  #{@contact}, #{@user.name}
    p
      | Организация: #{@user.company}
      br /
      | E-mail: #{@user.email}
      br /
      | Телефон: #{@user.phone}
      br /
    h3 Цель регистрации
    pre
      = @user.purpose