= simple_form_for([tender, review, review.comments.build], html: { multipart: true, id: "comment-#{review.id}" }, remote: true) do |f|
  .comment-errors
  = f.input :body
  = f.input :ufile, as: :file
  = f.button :submit, value: 'OK', class: 'btn-custom2 jsbuttonformcomment', data: { type: :json }
