- if @user.profile
  .row
    .col-sm-2
      = image_tag @user.profile.avatar.url(:thumb) unless @user.profile.avatar.file.nil?
h3
  = @user.name
p
  ' E-mail:
  = @user.email
p
  ' Телефон:
  = @user.phone
p
  ' Компания:
  = @user.company
p
  ' Цель:
  = @user.purpose

- if @user.profile
  p= link_to edit_profile_path(current_user) do
    | Редактировать профиль
- else
  p= link_to new_profile_path do
    | Заполнить профиль
p= link_to 'Исправить неверные данные регистрации', edit_user_registration_path
p= link_to 'Техническое задание', new_tender_path, class: 'btn btn-primary'

h3 Мои тендеры
table.table.table-hover
  thead
    tr
      th scope="col"  Выставка
      th scope="col"  Площадь
      th scope="col"  Бюджет
      th scope="col"  Предложений
      th scope="col"  Статус
      th scope="col"  Детально
      th scope="col"  Редактировать
      th scope="col"  Удалить
  tbody
    - @user.tenders.each do |tender|
      tr class=(tender.public? ? 'public_on' : 'public_off')
        td
          = tender.exhibition
        td.td-int= tender.area
        td.td-int
          = number_with_precision tender.budget, precision: 2 if tender.budget?
          |  ₽
        td.td-int
          - if tender.reviews
            =< tender.reviews.count
          - else
            |  0
        td
        td= link_to icon('fa-eye', 'посмотреть'), tender
        td= link_to icon('fa-edit', 'редактировать'), edit_tender_path(tender)
        td= link_to icon('fa-trash', 'удалить'), tender, method: :delete, data: {confirm: 'Удалить безвозвратно?'}

p= link_to 'Назад', :back, class: 'btn btn-light'
