- if @user.profile
  .row
    .col-sm-2
      = image_tag @user.profile.avatar.url(:thumb) unless @user.profile.avatar.file.nil?
h3
  = @user.name
p
  ' E-mail:
  = @user.email
p
  ' Телефон:
  = @user.phone
p
  ' Компания:
  = @user.company
p
  ' Цель:
  = @user.purpose

- if @user.profile
  p= link_to edit_profile_path(current_user) do
    | Редактировать профиль
- else
  p= link_to new_profile_path do
    | Заполнить профиль
.br /
.container
  .row
    h3 Тендеры
    table.table.table-hover
      thead
        tr
          th scope="col"  Компания
          th scope="col"  email
          th scope="col"  Выставка
          th scope="col"  Площадь
          th scope="col"  Бюджет
          th scope="col"  Предложений
          th scope="col"  Статус
          th scope="col"  Детально

      tbody
      = render @tenders
p= link_to 'Назад', :back, class: 'btn btn-light'
