- @contact = @user.partner? ? 'Партнер' : 'Клиент'
- if @user.profile
  .row
    .col-sm-2
      = image_tag @user.profile.avatar.url(:thumb) unless @user.profile.avatar.file.nil?
h1
  ' Профиль
  = @contact
  ' а
  = @user.name

p
  ' E-mail:
  = @user.email
p
  ' Телефон:
  = @user.phone
p
  ' Компания:
  = @user.company
p
  ' Цель:
  = @user.purpose
p
  = link_to 'редактировать', edit_admin_user_path(@user), class: 'btn btn-primary'
  = link_to 'Назад', :back, class: 'btn btn-light'
br

- unless @user.partner
  -if @user.tenders.any?
    h3 Тендеры
    table.table.table-hover
      thead
        tr
          th scope="col"  Выставка
          th scope="col"  Площадь
          th scope="col"  Бюджет
          th scope="col"  Статус
          th scope="col"  Детально
          th scope="col"  Опубликовано
          th scope="col"  Редактировать
          th scope="col"  Удалить
      tbody
        - @user.tenders.each do |tender|
          tr
            td= tender.exhibition
            td.td-int= tender.area
            td.td-int
              = number_with_precision tender.budget, precision: 2 if tender.budget?
              |  ₽
            td
            td= link_to icon('fa-eye', 'посмотреть'), tender
            td
              - if tender.public?
                ' Да
              -else
                = link_to icon('fa-toggle-off i-public-off', 'опубликовать'), public_on_admin_tender_path(tender), method: 'put'
            td= link_to icon('fa-edit', 'редактировать'), edit_admin_tender_path(tender)
            td= link_to icon('fa-trash', 'удалить'), admin_tender_path(tender), method: :delete, data: {confirm: 'Удалить безвозвратно?'}
