thead
  tr
    - if user_signed_in? && current_user.partner
      th scope="col" Компания  
      th scope="col" E-mail
    th scope="col"  Выставка
    th scope="col"  Площадь
    th scope="col"  Бюджет
    th scope="col"  Предложений
    th scope="col"  Статус
    th scope="col"  Детально
    - if user_signed_in? && !current_user.partner
      th scope="col"   Редактировать
      th scope="col"   Удалить

