table.table.table-hover
  thead
    tr
      th scope="col"  Компания
      th scope="col"  email
      th scope="col"  Выставка
      th scope="col"  Площадь
      th scope="col"  Бюджет
      th scope="col"  Статус
      - if user_signed_in? && (current_user.id == @tender.user.id)
        th scope="col"  Редактировать
        th scope="col"  Удалить
  tbody
    tr
      td= @tender.user.company
      td= @tender.user.email
      td= @tender.exhibition
      td.td-int= @tender.area
      td.td-int
        = number_with_precision @tender.budget, precision: 2 if @tender.budget?
        |  ₽
      td
      - if user_signed_in? && (current_user.id == @tender.user.id)
        td= link_to icon('fa-edit', 'редактировать'), edit_tender_path(@tender)
        td= link_to icon('fa-trash', 'удалить'), @tender, method: :delete, data: {confirm: 'Удалить безвозвратно?'}
    tr
      th
      td
      td.number-of-reviews
        ' предложений:
        - if @tender.reviews
          =< @tender.reviews.count
        - else
          |  0
      td
      td
      td
      - if user_signed_in? && (current_user.id == @tender.user.id)
      td
      td

h4 Место проведени
p= @tender.region

h4 Сроки проведения
p= @tender.dates_event

h4 Срок сдачи проекта
p= @tender.term_delivery_design_project

h4 Тендер (число участников)
p= @tender.tender_number_participants

h4 Этажность
p= @tender.floor

h4 Площадь 2-го этажа. Длина/ширина. Остов. Полуостров. Угол. Линейный.'Зал: Павильон:'
p= @tender.company_info

h4 Основная цель участия в выставке
p= @tender.main_purpose_participation

h4 Основной акцент стенда
p= @tender.main_focus

h4 Ассоциации
p= @tender.main_focus_stand_more

h4 Стиль
p= @tender.image_saturation
p= @tender.open_to_visitors
p= @tender.height_stand

h4 Зона ресепшн
p= @tender.reception

h4 Экспонируемая продукция
p= @tender.exhibited_products

h4 Витрины
p= @tender.showcases

h4 Оборудование для экспонируемой продукции
p= @tender.additional_equipment

h4 Переговорные зоны
p= @tender.negotiation_zone

h4 Подсобное помещение
p= @tender.utility_room

h4 Электрооборудование стенда
p= @tender.electrical

h4 Предпочтения в выборе используемых материалов
p= @tender.choice_materials

h4 Освещение стенда
p= @tender.lighting

h4 Обязательные условия
p= @tender.obligatory_condition

h4 Общие данные технического задания
p= @tender.technical_specification

h4 Дополнительная информация
p= @tender.special_request

.questions
  - if user_signed_in? && (current_user.partner? || current_user.id == @tender.user_id)
    h1 Вопросы
    =  render @tender.questions, user: @tender.user
    div
      - if current_user.partner?
        = link_to 'Задать вопрос', new_tender_question_path(@tender), class: 'btn-custom'

.reviews
  h1
    | Предложений(
    - if @tender.reviews
      = @tender.reviews.count
      | )
    - else
      | 0)
  - if user_signed_in?
    - if current_user.partner? || (current_user.id == @tender.user_id)
      = render @tender.reviews
    div
      - if current_user.partner?
        - unless current_user.reviews.pluck(:tender_id).include?(@tender.id)
          = link_to "Создать предложение", new_tender_review_path(@tender), class: 'btn-custom'
br /
p= link_to 'Назад', :back, class: 'btn btn-light'

= render 'comments/forms_script'