table.table.table-hover
  thead
    tr
      th scope="col"  E-mail
      th scope="col"  Имя
      th scope="col"  Телефон
      th scope="col"  Компания
  tbody
    - @users.each do |user|
      tr
        td= link_to user.email, profile_path(user)
        td= user.name
        td= user.phone
        td= user.company