= simple_form_for([tender, question, question.answers.build], html: { multipart: true, id: "answer-#{question.id}" }, remote: true) do |f|
  .answer-errors
  = f.input :body
  = f.input :ufile, as: :file
  = f.button :submit, value: 'OK', class: 'btn-custom2 jsbuttonformcomment', data: { type: :json }
