doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Опубликован новый тендер:
    p= link_to 'Посмотреть', @url
    p Организация: #{@tender.user.company}
