
.jumbotron
  h3.display-4 Отметьте обязательно в качестве кого хотите зарегистрироваться
  = form_tag(controller: "choice_client_partner", action: "create") do
    p.lead
      ' <input type="radio" name="partner" value="true" class="with-gap" id='partner'>
      ' <label for='partner'>Регистрироваться как партнер сервиса</label>
      br
      ' <input type="radio" name="partner" value="false" class="with-gap" id='client'>
      ' <label for='client'>Регистрироваться как клиент</label>
    hr.my-4 /
    p= submit_tag("Регистрация")
