/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require materialize
 */
@import 'normalize'
@import 'bootstrap'
@import 'kso'
@import 'front'
@import 'reviews'
@import 'comments'
@import 'answers'

html, body
  background-color: #eeeeee
.container
  background-color: #fff
.top-40
  padding-top: 40px
  padding-bottom: 20px
.td-int
  text-align: right

.notice, .alert-notice
  color: #155724
  background-color: #d4edda
  border-color: #c3e6cb
  text-align: center
.alert-alert
  text-align: center
  color: #721c24
  background-color: #f8d7da
.margin-right-60
  margin-right: 60px
 
.hidden-fields
  display: none
i.fa.fa-eye
  color: lightseagreen
tr.public_off td
  background-color: #ddd
i.fa.fa-toggle-off.i-public-off
  color: gray
th a, h1 a
  color: darkslategray
tr th:first-child
  min-width: 50px
small.form-text.text-muted
  margin-top: -17px
#comment-errors
  color: red