// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formHidden
  display: none
.formComment
  position: absolute
  min-width: 600px
  background-color: #F8F9FA
.p-relative
  position: relative
  min-height: 100px
  margin: 10px auto
.jsformcomment
  cursor: pointer