// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-custom
  color: darken(#bdbdbd, 5%)
  background-color: #fff
  border: 1px solid darken(#bdbdbd, 5%)
  padding: 8px 20px
  border-radius: 0px
  font-family: 'Lato', sans-serif
  &:hover
    text-decoration: none
    background-color: darken(#bdbdbd, 5%)
    color: #fff
    transition: 0.5s

.btn-custom2
  color: #333
  background-color: #fff
  border: 1px solid #222
  padding: 8px 20px
  border-radius: 0px
  font-family: 'Lato', sans-serif
  &:hover
    text-decoration: none
    background-color: #333
    color: #fff
    transition: 0.5s

.reviews
  margin-top: 40px

  h1
    margin-top: 0
    margin-bottom: 15px
    font-size: 2em
    font-weight: bold

  .review
    border-bottom: 1px solid gainsboro
    margin-bottom: 15px
    padding-bottom: 10px

    .review-comment
      font-size: 1.05em
      line-height: 1.5

  .new-review
    padding-top: 8px

#rating-form, .review-rating, #average-review-rating, .average-review-rating
  img
    width: 15px
    float: left

.review a
  color: darkslategray
  &:hover
    color: lightseagreen

