<%= simple_form_for [:admin, @user] do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: 'минимум 6 символов' %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :phone, required: true, hint: 'По этому номеру сотрудник call-центра подтвердит регистрацию' %>
    <%= f.input :name, required: true %>
    <%= f.input :company, required: true, hint: 'Введите название вашей компании' %>
    <%= f.input :purpose, required: true %>
    <%= f.input :partner %>
  </div>
  <br/>
  <%= f.input :agreement %>
  <p>
    Нажимая кнопку "Регистрация" вы соглашаетесь с
    <%= link_to 'Условиями использования сайта', kso_index_path, target: '_blank' %> и
    <%= link_to 'Условиями использования персональных данных', kso_index_path, target: '_blank' %>
  </p>

  <div class="form-actions">
    <%= f.button :submit, 'OK', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>