table.table.table-hover
  thead
    tr
      th scope="col"  E-mail
      th scope="col"  Имя
      th scope="col"  Телефон
      th scope="col"  Компания
      th scope="col"  удалить
  tbody
    - @partners.each do |partner|
      tr
        td= link_to partner.email, admin_user_profile_path(partner)
        td= partner.name
        td= partner.phone
        td= partner.company
        td= link_to icon('fa-trash', 'удалить'), admin_user_path(partner), method: :delete, data: {confirm: 'Удалить безвозвратно?'}