table.table.table-hover
  thead
    tr
      th scope="col"  E-mail
      th scope="col"  Имя
      th scope="col"  Телефон
      th scope="col"  Компания
      th scope="col"  Тендеры
      th scope="col"  удалить
  tbody
    = render @users
