tr
  td= link_to user.email, admin_user_profile_path(user)
  td= user.name
  td= user.phone
  td= user.company
  td= link_to user.tenders.count, admin_user_tenders_path(user)
  td= link_to icon('fa-trash', 'удалить'), admin_user_path(user), method: :delete, data: {confirm: 'Удалить безвозвратно?'}
