<%= simple_form_for([@tender, @tender.reviews.build]) do |f| %>
  <%= f.input :comment, as: :ckeditor, input_html: { ckeditor: { height: 400, language: 'ru' } }%>
  <div id="connect_file">
    <div class="connect_file">
      <%= f.label 'Прикрепить файл' %>
      <br />
      <%= f.file_field :attachments, multiple: true %>
      <br />
    </div>
  </div>
  <br />
  <p><%= link_to 'Еще один файл', '#', id: "button_add_connect_file", class: 'btn btn-light' %></p>
  <%= f.button :submit, value: 'Сохранить', class: 'btn-custom2' %>
<% end %>

<script>
    $('#button_add_connect_file').on('click', function (event) {
        event.preventDefault();
        var ufile = "<div>" + $("#connect_file .connect_file:first-child").html(); + "</div>"
        console.log(ufile);
        $("#connect_file").append(ufile);
    })
</script>