<div class="col-10 offset-1">
  <div class="edit-review-form">
    <h1> Редактировать предложение </h1>
    <%= simple_form_for([@tender, @review]) do |f| %>
      <%= f.input :comment, as: :ckeditor, input_html: { ckeditor: { height: 400, language: 'ru' } } %>
      <div>
        <% if @review.attachments? %>
          <ul>
            <% @review.attachments.each do |attachment| %>
              <li><%= link_to attachment.file.filename, attachment.url, target: '_blank' %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div id="connect_file">
        <div class="connect_file">
          <%= f.label 'Прикрепить файл' %>
          <%= f.file_field :attachments, multiple: true %>
        </div>
      </div>

      <p><%= link_to 'Еще один файл', '#', id: "button_add_connect_file", class: 'btn btn-light' %></p>

      <%= f.button :submit, value: 'Обновить', class: 'btn-custom2' %>
    <% end %>
  </div>
</div>

<script>
    $('#button_add_connect_file').on('click', function (event) {
        event.preventDefault();
        var ufile = "<div>" + $("#connect_file .connect_file:first-child").html(); + "</div>"
        console.log(ufile);
        $("#connect_file").append(ufile);
    })
</script>